body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

#c1_2x {
	left:29px;
	top:2px;
	width:137px;
	height:45px;
	background-image:url(../img/c1_2x.png);
	background-size:137px 45px;
}

#c2_2x {
	left:26px;
	top:16px;
	width:145px;
	height:20px;
	background-image:url(../img/c2_2x.png);
	background-size:145px 20px;
}

#cta1_2x {
	left:194px;
	top:2px;
	width:49px;
	height:27px;
	background-image:url(../img/cta1_2x.png);
	background-size:49px 27px;
}

#cta2_2x {
	left:255px;
	top:15px;
	width:46px;
	height:14px;
	background-image:url(../img/cta2_2x.png);
	background-size:46px 14px;
}

#date_2x {
	left:4px;
	top:3px;
	width:4px;
	height:46px;
	background-image:url(../img/date_2x.png);
	background-size:4px 46px;
}

#side_bg1_2x {
	left:191px;
	top:0px;
	width:109px;
	height:250px;
	background-image:url(../img/side_bg1_2x.png);
	background-size:109px 250px;
}

#wingft_2x {
	left:230px;
	top:0px;
	width:69px;
	height:65px;
	background-image:url(../img/wingft_2x.png);
	background-size:69px 65px;
}

#bg1_2x {
	left:0px;
	top:0px;
	width:320px;
	height:50px;
	background-image:url(../img/bg1_2x.jpg);
	background-size:320px 50px;
}

#box {
	overflow: hidden;
	width:181px;
	height:50px;
	/* left: 6px;
	top: 57px; */
}

#c0_2x {
	left:24px;
	top:19px;
	width:146px;
	height:13px;
	background-image:url(../img/c0_2x.png);
	background-size:146px 13px;
}

#c3_2x {
	left:26px;
	top:2px;
	width:142px;
	height:45px;
	background-image:url(../img/c3_2x.png);
	background-size:142px 45px;
}

#legal_2x {
	left:191px;
	top:33px;
	width:121px;
	height:14px;
	background-image:url(../img/legal_2x.png);
	background-size:121px 14px;
}