

#cta1_2x {
	left:512px;
	top:10px;
	width:84px;
	height:68px;
	background-image:url(../img/cta1_2x.png);
	background-size:84px 68px;
}

#cta2_2x {
	left:613px;
	top:47px;
	width:98px;
	height:30px;
	background-image:url(../img/cta2_2x.png);
	background-size:98px 30px;
}

#bg1_2x {
	left:0px;
	top:0px;
	width:728px;
	height:90px;
	background-image:url(../img/bg1_2x.jpg);
	background-size:728px 90px;
}
