body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

#c1_2x {
	left:15px;
	top:56px;
	width:159px;
	height:138px;
	background-image:url(../img/c1_2x.png);
	background-size:159px 138px;
}

#c2_2x {
	left:35px;
	top:61px;
	width:117px;
	height:119px;
	background-image:url(../img/c2_2x.png);
	background-size:117px 119px;
}

#cta1_2x {
	left:8px;
	top:219px;
	width:78px;
	height:25px;
	background-image:url(../img/cta1_2x.png);
	background-size:78px 25px;
}

#cta2_2x {
	left:96px;
	top:218px;
	width:86px;
	height:26px;
	background-image:url(../img/cta2_2x.png);
	background-size:86px 26px;
}

#date_2x {
	left:8px;
	top:8px;
	width:175px;
	height:12px;
	background-image:url(../img/date_2x.png);
	background-size:175px 12px;
}

#side_bg1_2x {
	left:191px;
	top:0px;
	width:109px;
	height:250px;
	background-image:url(../img/side_bg1_2x.png);
	background-size:109px 250px;
}

#wingft_2x {
	left:188px;
	top:0px;
	width:111px;
	height:149px;
	background-image:url(../img/wingft_2x.png);
	background-size:111px 149px;
}

#bg1_2x {
	left:0px;
	top:0px;
	width:300px;
	height:250px;
	background-image:url(../img/bg1_2x.jpg);
	background-size:300px 250px;
}

#bg2_2x {
	left:0px;
	top:0px;
	width:300px;
	height:250px;
	background-image:url(../img/bg2_2x.jpg);
	background-size:300px 250px;
}

#box {
	overflow: hidden;
	width:191px;
	height:210px;
	/* left: 6px;
	top: 57px; */
}

#c3_2x {
	left:12px;
	top:46px;
	width:164px;
	height:161px;
	background-image:url(../img/c3_2x.png);
	background-size:164px 161px;
}

#side_bg2_2x {
	left:191px;
	top:0px;
	width:109px;
	height:250px;
	background-image:url(../img/side_bg2_2x.png);
	background-size:109px 250px;
}

#side_bg3_2x {
	left:191px;
	top:0px;
	width:109px;
	height:250px;
	background-image:url(../img/side_bg3_2x.png);
	background-size:109px 250px;
}